  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }.header ul li{
      text-decoration: none;
      list-style: none;
      text-transform: none;
      display: inline-block;
      text-align:center !important;
  }.header ul {
    margin: 0px;
    /* padding: 0px; */
  }.header1 li{
    display: inline-block;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
  .font1{
    font-size:17px;
    font-weight: bold;
    text-align: center !important;
  }
  .brd{
  border-right:3px solid white;
  }
  .darkred{
    background:#E41937;
  }
  li{
    padding:8px;
    font-family:Montserrat,sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    transition:0.1s;
  }
  li.active{
  
    color:white !important;
    border-radius: 0.4rem;
    padding:8px 20px;
    transition:0.1s;
    background: #A2CDCD;
  }
  li:hover{
  color:#65d0ae;
  transition: 0.5s;
  }
  .mainh1{
    font-size: 4rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
  }
  @media screen and (max-width: 992px) {
    .mainh1{
      font-size: 2.2rem;
      font-family: "Montserrat", Sans-serif;
      font-weight: 700;
    }
  }

  .mainp{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .btn1{
    background:#CAE9F3;
    font-family: "Montserrat", sans-serif;
    font-size:1rem;
    color:black;
    padding: 12px 15px;
    border: none;
    border-radius: 0.3rem;
    font-weight:550;
  }
  .btn2{
    font-family: "Montserrat", sans-serif;
    font-size:1rem;
    padding: 10px 15px !important;
    border: none;
    border-radius: 0.3rem;
    font-weight:550;

  }.sub{
    font-size:1.5rem;
  }.conatiner2 h3{
    font-family: 'Open Sans', sans-serif;
      font-weight: 700;
  }.conatiner2 span{
    font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      color:#E41937 !important;
  }
  .gradient-section1 {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    height:110px;
  }
  .gradient-section2 {
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    height:110px;
  }
  .gradient-section3 {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    height:110px;
  }.gradient-section4 {
    background-color: #ffac81;
    background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
    height:110px;
  }
  .bor{
    border: 1px solid transparent;
    padding: 34px 26px;
    border-radius: 50%;
    background-color: white;
    height: 90px;
    width: 90px;
  }
  .logo1{
   font-size: 33px;
   color:#E41937;
  }
  .conatiner5{
    background-image:url(./image/ab1.jpg);
    background-repeat:no-repeat;
    background-position:fixed;
    background-size: cover;
    }
    .layer-overlay{
      background-color: rgba(0, 0, 0, 0.8)!important;
    } 
    .bgred{
      background-color:#E41937 ;
      transition:0.4s;
    }
    .bgred:hover{
      background-color:#1f386b ;
      transition:0.4s;
    }
    .footerbg{
      background-image:url(./image/footer-bg.png);
     background-color: rgba(14, 14, 14, 0.9)!important;
        }
    .footer h5{
      font-size:16px;
         }
    .borde{
      border-bottom: 3px solid #1F386B!important;
     min-width:55px;
     max-width:55px;
      /* padding-top:1px; */
      margin-bottom:10px !important;
      }
    .footer h6{
      color:#808080;
      font-size:16px;
    }
    .sec1 ul li {
      border: none !important;
      display: inline-block;
      margin: 0px;
      padding-left:0px !important ;
      padding-right: 10px !important;
    }
    .footer ul{
      padding: 0px;
    }
    .footer ul li{
      text-decoration: none;
      color:#808080 ;
      list-style: none;
      border-bottom: 1px dashed #808080;
      text-transform: none;
      margin: 5px 0px 8px;
      padding: 10px 0px 8px 15px;
      font-size: 16px;
      font-weight: 500;
    }
    .footer p a{
      color:#d4d4d4 !important;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0;
    }
    .footer ul li a{
     text-decoration: none;
      color:#808080;
    }
    .footer p a:hover{
      color:#1F386B !important;
      cursor: pointer;
    }
    .sec2 p {
      color:#808080 !important;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      margin-bottom:0px;
    }.bg-black333{
      background: #333333;
    }.bg-black333 h6{
      font-size: 13px;
      font-weight: 900;
    }
.slidimg{
    height:550px !important;
    width:100%;
}
.carouseltext1{
  position: absolute;
  top:30%;
  text-align: center;
  }
  .carouseltext1 span{
    color:rgb(248, 242, 242) !important; 
    background-color: #3d5076 !important;
    opacity:0.8;
    width:max-content;
    padding:0px 25px ;
    border-radius: 1.1rem;
    font-size:44px;
   }
.carouseltext2{
 position: absolute;
 top:20%;
 text-align: left;
 }
.carouseltext2 h1{
  color:rgb(248, 242, 242) !important; 
 }
 .carouseltext2 span{
  background-color: #3d5076 !important;
  opacity:0.8;
  border-left:4px solid red ;
  padding:10px 20px ;
  font-size: 30px;
  font-weight: bold;
 }
 .carouseltext3{
  position: absolute;
  top:20%;
  text-align: right;
  }
  .carouseltext3 span{
    color:rgb(248, 242, 242) !important; 
    background-color: #3d5076 !important;
    opacity:0.8;
    width:max-content;
    padding:0px 25px ;
    border-right:4px solid red ;
    font-size:64px;
   }
   .carouseltext3 .fp{
    color:rgb(248, 242, 242) !important; 
    font-size:26px;
    word-spacing:2px;
    font-weight: bolder;
   }
   .cros .carousel-indicators button{
    opacity: 0.6;
    background-color: #1a1919;
    padding: 25px 25px;
    border-radius: 50%;
    margin-left: 10px;
    border: none;
    margin-bottom:10px ;
   }.cros .carousel-indicators button.active{
    opacity: 0.8;
    background-color: 333333;
   }
   .visually-hidden{
    visibility:hidden;
   }
   .conatiner2 p{
      font-family: 'Open Sans', sans-serif;
      color:#7a7a7a !important;
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
  }.form{
   background-color: #87cefa;
  }
  .animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  /*=== Optional Delays, change values here  ===*/
  .one {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  .form-control{
    height:50px;
    border-radius: 0;
  }
  .form h4{
    font-size: 30px;
    font-weight: bold;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
